/**
* global styles
*/
#SABM, #SABM *
{
    position                : static;
    top                     : auto;
    left                    : auto;
    bottom                  : auto;
    right                   : auto;

    float                   : none !important;
    clear                   : none !important;

    width                   : auto !important;
    height                  : auto !important;

    border                  : none !important;

    background-color        : transparent !important;
    background-image        : none !important;
    background-repeat       : no-repeat !important;
    background-position     : center center !important;
    background-attachment   : scroll !important;

    margin                  : 0 !important;
    padding                 : 0 !important;

    font-family             : Arial, sans-serif !important;
    font-weight             : 400 !important;
    font-size               : 13px !important;
    font-style              : normal !important;
    text-align              : left !important;
    text-transform          : none !important;
    line-height             : normal !important;
    color                   : #000000 !important;

    visibility              : visible !important;
    opacity                 : 1 !important;

    -webkit-background-size : contain !important;
    -moz-background-size    : contain !important;
    background-size         : contain !important;

    -webkit-border-radius   : 0 !important;
    -moz-border-radius      : 0 !important;
    border-radius           : 0 !important;

    -webkit-box-sizing      : border-box !important;
    -moz-box-sizing         : border-box !important;
    box-sizing              : border-box !important;

    -webkit-box-shadow      : none !important;
    -moz-box-shadow         : none !important;
    box-shadow              : none !important;

    -webkit-text-shadow     : none !important;
    -moz-text-shadow        : none !important;
    text-shadow             : none !important;
}

#SABM > header,
#SABM > footer,
#SABM a,
#SABM a span,
#SABM a em,
#SABM svg path,
#SABM h1,
#SABM p,
#SABM textarea,
#SABM dt,
#SABM dd,
#SABM div
{
    -webkit-transition : 0.3s ease 0s !important;
    -moz-transition    : 0.3s ease 0s !important;
    transition         : 0.3s ease 0s !important;
}

/**
 * Layout main styles
 */
#SABM
{
    position              : fixed !important;
    top                   : -600px;
    right                 : 100px !important;
    width                 : 350px !important;
    height                : 480px !important;
    background            : #FFFFFF !important;
    border                : 1px solid #C1C1C1 !important;
    padding               : 98px 8px 48px 8px !important;
    z-index               : 99999999999999 !important;

    -webkit-border-radius : 4px !important;
    -moz-border-radius    : 4px !important;
    border-radius         : 4px !important;

    -webkit-box-shadow    : 5px 5px 2px 0 rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow       : 5px 5px 2px 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow            : 5px 5px 2px 0 rgba(0, 0, 0, 0.3) !important;

    -webkit-transition    : padding 0.3s ease 0s !important;
    -moz-transition       : padding 0.3s ease 0s !important;
    transition            : padding 0.3s ease 0s !important;
}

#SABM.compact
{
    padding : 68px 8px 48px 8px !important;
}

/**
 * Layout header styles
 */
#SABM > header
{
    position              : absolute !important;
    top                   : 8px !important;
    left                  : 8px !important;
    right                 : 8px !important;
    height                : 90px !important;
    background-color      : #288484 !important;
    background-image      : url('../images/logo.svg') !important;
    background-position   : left center !important;
    border                : 15px solid transparent !important;
    cursor                : move !important;
    padding-left          : 75px !important;

    -webkit-border-radius : 3px 3px 0 0 !important;
    -moz-border-radius    : 3px 3px 0 0 !important;
    border-radius         : 3px 3px 0 0 !important;

    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

#SABM.compact > header
{
    padding-left : 45px !important;
    height       : 60px !important;
    border-width : 10px !important;
}

#SABM > header:hover, #SABM > header:active, #SABM > header.active
{
    background-color : #006B6B !important;
}

#SABM > header h1
{
    color       : #FFFFFF !important;
    font-weight : 400 !important;
    font-size   : 26px !important;
    line-height : 30px !important;
    padding     : 8px 0 2px 0 !important;
    font-family : Georgia, serif !important;
}

#SABM.compact > header h1
{
    padding : 5px !important;
}

#SABM > header p
{
    color          : #FFFFFF !important;
    font-size      : 14px !important;
    letter-spacing : 1px !important;
    padding        : 2px 0 0 0 !important;
    line-height    : 20px !important;
    border-top     : 1px solid #FFFFFF !important;
    font-family    : Georgia, serif !important;
}

#SABM.compact > header p
{
    opacity    : 0 !important;
    visibility : hidden !important;
}

/**
 * Layout navigation styles
 */
#SABM > nav
{
    position   : absolute !important;
    right      : 16px !important;
    top        : 4px !important;
    text-align : right !important;
}

#SABM > nav a
{
    float                 : left !important;
    width                 : 25px !important;
    height                : 25px !important;
    padding               : 4px !important;
    margin-left           : 5px !important;
    background-color      : #FFFFFF !important;
    overflow              : hidden !important;

    -webkit-border-radius : 0 0 3px 3px !important;
    -moz-border-radius    : 0 0 3px 3px !important;
    border-radius         : 0 0 3px 3px !important;
}

#SABM > nav a.close
{
    padding : 7px 4px 4px 4px !important;
}

#SABM > nav a span
{
    color           : transparent !important;
    position        : absolute !important;
    text-decoration : none !important;
}

#SABM > nav a svg
{
    width   : 100% !important;
    height  : 100% !important;
    display : block !important;
}

#SABM > nav a svg path
{
    fill : #288484 !important;
}

#SABM > nav a:focus, #SABM > nav a:active, #SABM > nav a:hover
{
    background        : #B73857 !important;
    outline           : none;

    -webkit-transform : scale(1.4);
    -moz-transform    : scale(1.4);
    -ms-transform     : scale(1.4);
    -o-transform      : scale(1.4);
    transform         : scale(1.4);
}

#SABM > nav a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > nav a.close:focus, #SABM > nav a.close:active, #SABM > nav a.close:hover
{
    padding : 5px !important;
}

#SABM > nav a.info:focus, #SABM > nav a.info:active, #SABM > nav a.info:hover
{
    background : #ED9C00 !important;
}

#SABM > nav a:focus svg path, #SABM > nav a:active svg path, #SABM > nav a:hover svg path
{
    fill : #FFFFFF !important;
}

/**
 * Layout footer styles
 */
#SABM > footer
{
    position              : absolute !important;
    bottom                : 8px !important;
    left                  : 8px !important;
    right                 : 8px !important;
    height                : 40px !important;

    -webkit-border-radius : 0 0 3px 3px !important;
    -moz-border-radius    : 0 0 3px 3px !important;
    border-radius         : 0 0 3px 3px !important;

    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

#SABM.compact > footer
{
    background : #288484 !important;
}

#SABM > footer a
{
    display               : inline-block !important;
    color                 : #FFFFFF !important;
    font-size             : 14px !important;
    line-height           : 20px !important;
    margin                : 0 !important;
    font-family           : Georgia, serif !important;
    text-align            : center !important;
    text-decoration       : underline !important;
    border                : 9px solid transparent !important;

    -webkit-border-radius : 0 0 0 3px !important;
    -moz-border-radius    : 0 0 0 3px !important;
    border-radius         : 0 0 0 3px !important;
}

#SABM > footer a.back
{
    padding               : 2px 0 0 25px !important;
    background-image      : url('../images/home.svg') !important;
    background-position   : left center !important;
}

#SABM > footer a.save
{
    font-weight: bold !important;
}

#SABM > footer a.disabled
{
    opacity    : 0 !important;
    visibility : hidden !important;
}

#SABM > footer a.right
{
    float: right !important;
}

#SABM > footer a.logo
{
    position              : absolute !important;
    top                   : 0 !important;
    right                 : 0 !important;
    width                 : 50% !important;
    color                 : transparent !important;
    height                : 100% !important;
    padding               : 0 !important;
    background-image      : none !important;
    border                : 5px solid transparent !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM.compact > footer a.logo
{
    right                 : 5px !important;
    width                 : 38% !important;

    -webkit-border-radius : 0 0 3px 0 !important;
    -moz-border-radius    : 0 0 3px 0 !important;
    border-radius         : 0 0 3px 0 !important;
}

#SABM > footer a.logo:focus, #SABM > footer a.logo:active, #SABM > footer a.logo:hover
{
    outline          : none;
    background-color : #288484 !important;
}

#SABM > footer a.logo:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > footer a.logo svg
{
    width   : 100% !important;
    height  : 100% !important;
    display : block !important;
}

#SABM > footer a.logo span
{
    color           : transparent !important;
    position        : absolute !important;
    text-decoration : none !important;
}

#SABM.compact > footer a.logo svg path,
#SABM > footer a.logo:focus svg path, #SABM > footer a.logo:active svg path, #SABM > footer a.logo:hover svg path
{
    right : 0 !important;
    fill  : #FFFFFF !important;
}

#SABM.compact > footer a:focus, #SABM.compact > footer a:active, #SABM.compact > footer a:hover
{
    outline           : none;
    background-color  : #006B6B !important;
    border-left-width : 5px !important;
}

#SABM.compact > footer a.save:focus, #SABM.compact > footer a.save:active, #SABM.compact > footer a.save:hover
{
    border-left-width : 9px !important;
    border-right-width : 5px !important;
}

#SABM.compact > footer a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}


#SABM.compact > footer a.logo:focus, #SABM.compact > footer a.logo:active, #SABM.compact > footer a.logo:hover
{
    right : 0 !important;
}

/**
 * Layout page styles
 */
#SABM > section
{
    position : relative !important;
    display  : block !important;
    width    : 100% !important;
    height   : 100% !important;
    overflow : hidden !important;
}

#SABM > section div.page
{
    position           : absolute !important;
    top                : 0 !important;
    left               : -100% !important;
    width              : 100% !important;
    height             : 100% !important;
    opacity            : 0 !important;
    visibility         : hidden !important;
    padding            : 61px 0 96px 0 !important;
    cursor             : default;

    -webkit-transition : 0.3s ease-out 0.3s !important;
    -moz-transition    : 0.3s ease-out 0.3s !important;
    transition         : 0.3s ease-out 0.3s !important;
}

#SABM > section div.page.active
{
    left               : 0 !important;
    opacity            : 1 !important;
    visibility         : visible !important;

    -webkit-transition : 0.3s ease-out 0s !important;
    -moz-transition    : 0.3s ease-out 0s !important;
    transition         : 0.3s ease-out 0s !important;
}

#SABM > section div.page.active ~ div.page
{
    left : 100% !important;
}

#SABM > section div.page.nav-small
{
    padding-bottom : 36px !important;
}

#SABM > section div.page.nav-medium
{
    padding-bottom : 51px !important;
}

#SABM > section div.page.nav-medium.progress
{
    padding-bottom : 86px !important;
}

#SABM > section div.page.no-nav
{
    padding-bottom : 0 !important;
}

#SABM > section div.page.content-only
{
    padding : 0 !important;
}

#SABM > section div.page a,
#SABM > section div.page textarea
{
    visibility : hidden !important;
}

#SABM > section div.page.active a,
#SABM > section div.page.active textarea
{
    visibility : visible !important;
}

/**
 * Common page styles
 */
#SABM > section div.page p
{
    padding-bottom : 15px !important;
}

#SABM > section div.page strong
{
    font-weight : 700 !important;
}

#SABM > section div.page img
{
    max-width : 100% !important;
}

#SABM > section div.page img:focus,
#SABM > section div.page img:active
{
    outline : none;
}

#SABM > section div.page em
{
    font-style : italic !important;
}

#SABM > section div.page p.value
{
    font-weight           : 700 !important;
    border                : 1px dashed #288484 !important;
    background-color      : rgba(40, 132, 132, 0.08) !important;
    font-family           : Georgia, serif !important;
    font-size             : 14px !important;
    padding               : 10px !important;
    margin                : 0 0 15px 0 !important;
    text-align            : center !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page p.answer,
#SABM > section div.page p.continue
{
    text-align : center !important;
}

#SABM > section div.page p.answer a,
#SABM > section div.page p.continue a
{
    margin : 0 3px !important;
}

#SABM > section div.page a
{
    color                 : #006B6B !important;
    display               : inline-block;
    padding               : 6px 5px !important;
    margin                : -6px -5px !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page a:hover,
#SABM > section div.page a:focus,
#SABM > section div.page a:active
{
    outline           : none;
    color             : #FFFFFF !important;
    background-color  : #288484 !important;
    text-decoration   : none !important;

    -webkit-transform : scale(1.1);
    -moz-transform    : scale(1.1);
    -ms-transform     : scale(1.1);
    -o-transform      : scale(1.1);
    transform         : scale(1.1);
}

#SABM > section div.page a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > section div.page a.button
{
    position              : relative !important;
    z-index               : 2;
    display               : inline-block !important;
    min-width             : 90px !important;
    color                 : #FFFFFF !important;
    background-color      : #006B6B !important;
    font-size             : 14px !important;
    line-height           : 20px !important;
    padding               : 5px 10px !important;
    margin                : 0 !important;
    font-family           : Georgia, serif !important;
    font-weight           : 700 !important;
    text-decoration       : none !important;
    text-align            : center !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page a.button.active
{
    z-index : 1;
}

#SABM > section div.page a.button:hover,
#SABM > section div.page a.button:active,
#SABM > section div.page a.button.active,
#SABM > section div.page a.button:focus
{
    background-color  : #288484 !important;

    -webkit-transform : scale(1.1);
    -moz-transform    : scale(1.1);
    -ms-transform     : scale(1.1);
    -o-transform      : scale(1.1);
    transform         : scale(1.1);
}

#SABM > section div.page a.button.disabled,
#SABM > section div.page a.button.disabled:hover,
#SABM > section div.page a.button.disabled:active,
#SABM > section div.page a.button.disabled:focus
{
    background-color    : #006B6B !important;
    opacity             : 0.5 !important;
    pointer-events      : none;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    -webkit-transform   : none;
    -moz-transform      : none;
    -ms-transform       : none;
    -o-transform        : none;
    transform           : none;
}

#SABM > section div.page p a.button.yes
{
    margin-right: 15px !important;
}

#SABM > section div.page p a.button.na
{
    margin: 15px !important;
}

#SABM > section div.page a.button.no.active
{
    background-color  : #C24E5F !important;

    -webkit-transform : scale(1.2);
    -moz-transform    : scale(1.2);
    -ms-transform     : scale(1.2);
    -o-transform      : scale(1.2);
    transform         : scale(1.2);
}

#SABM > section div.page p a.button.yes.active
{
    background-color  : #378935 !important;

    -webkit-transform : scale(1.2);
    -moz-transform    : scale(1.2);
    -ms-transform     : scale(1.2);
    -o-transform      : scale(1.2);
    transform         : scale(1.2);
}

#SABM > section div.page ul
{
    padding : 0 0 15px 15px !important;
}

#SABM > section div.page ul li > a
{
    font-size   : 14px !important;
    line-height : 16px !important;
    font-family : Georgia, serif !important;
}

#SABM > section div.page dl
{
    padding : 2px 0 8px 50px !important;
}

#SABM > section div.page dl > dt
{
    float       : left !important;
    margin      : 0 0 -15px -40px !important;
    font-weight : 700 !important;
    color       : #666666 !important;
}

#SABM > section div.page dl > dd
{
    display : block !important;
    clear   : both !important;
    color   : #666666 !important;
    padding : 0 0 2px 0 !important;
}

#SABM > section div.page dl > dd > a
{
    max-width       : 100% !important;
    white-space     : nowrap !important;
    text-overflow   : ellipsis !important;
    overflow        : hidden !important;
    color           : #666666 !important;
    text-decoration : none !important;
    margin-bottom   : -10px !important;
}

#SABM > section div.page dl.large
{
    padding : 0 0 15px 0 !important;
}

#SABM > section div.page dl.large > dt
{
    float   : none !important;
    margin  : 0 !important;
    padding : 0 !important;
}

#SABM > section div.page dl.large > dt a
{
    float                 : none !important;
    display               : block !important;
    color                 : #FFFFFF !important;
    background-color      : #288484 !important;
    font-size             : 14px !important;
    line-height           : 20px !important;
    padding               : 5px 10px !important;
    margin                : 0 !important;
    font-family           : Georgia, serif !important;
    text-decoration       : none !important;
    text-align            : left !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page dl.large > dt a:hover,
#SABM > section div.page dl.large > dt a:active,
#SABM > section div.page dl.large > dt a:focus
{
    background-color  : #006B6B !important;

    -webkit-transform : none;
    -moz-transform    : none;
    -ms-transform     : none;
    -o-transform      : none;
    transform         : none;
}

#SABM > section div.page dl.large > dt.active a
{
    background-color      : #006B6B !important;

    -webkit-border-radius : 3px 3px 0 0 !important;
    -moz-border-radius    : 3px 3px 0 0 !important;
    border-radius         : 3px 3px 0 0 !important;
}

#SABM > section div.page dl.large > dd
{
    color                 : #000000 !important;
    background-color      : rgba(40, 132, 132, 0.08) !important;
    border                : 1px solid #BBBBBB !important;
    border-top            : 0 !important;
    padding               : 0 15px !important;
    margin                : 0 !important;
    overflow              : hidden !important;
    height                : 0 !important;
    visibility            : hidden !important;

    -webkit-border-radius : 0 0 3px 3px !important;
    -moz-border-radius    : 0 0 3px 3px !important;
    border-radius         : 0 0 3px 3px !important;
}

#SABM > section div.page dl.large > dd > a
{
    overflow   : visible !important;
    color      : #006B6B !important;
    margin     : -6px -5px !important;
    visibility : hidden !important;
}

#SABM > section div.page dl.large > dd > a:hover,
#SABM > section div.page dl.large > dd > a:focus,
#SABM > section div.page dl.large > dd > a:active
{
    outline : none;
    color   : #FFFFFF !important;
}

#SABM > section div.page dl.large > dd > a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > section div.page dl.large > dt.active + dd
{
    padding    : 15px !important;
    height     : auto !important;
    visibility : visible !important;
}

#SABM > section div.page dl.large > dt.active + dd > a
{
    visibility : visible !important;
}

#SABM > section div.page textarea
{
    resize                : none;
    width                 : 100% !important;
    height                : 120px !important;
    border                : 1px solid #BBBBBB !important;
    background-color      : rgba(40, 132, 132, 0.08) !important;
    font-family           : Georgia, serif !important;
    padding               : 10px !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page textarea:focus
{
    outline : none;
    border  : 1px solid rgba(40, 132, 132, 0.75) !important;
}

/**
 * Page header styles
 */
#SABM > section div.page > header
{
    position                 : absolute !important;
    z-index                  : 2;
    top                      : 0 !important;
    left                     : 0 !important;
    width                    : 100% !important;
    border-bottom            : 1px solid #288484 !important;
    padding                  : 12px 58px 12px 10px !important;
    min-height               : 61px !important;
    background-color         : rgba(40, 132, 132, 0.08) !important;
    visibility               : hidden !important;

    -webkit-transform        : perspective(500px) rotateX(-90deg);
    -moz-transform           : perspective(500px) rotateX(-90deg);
    -ms-transform            : perspective(500px) rotateX(-90deg);
    -o-transform             : perspective(500px) rotateX(-90deg);
    transform                : perspective(500px) rotateX(-90deg);

    -webkit-transform-origin : top center;
    -moz-transform-origin    : top center;
    -ms-transform-origin     : top center;
    -o-transform-origin      : top center;
    transform-origin         : top center;

    -webkit-transition       : 0.2s ease-out 0s !important;
    -moz-transition          : 0.2s ease-out 0s !important;
    transition               : 0.2s ease-out 0s !important;
}

#SABM > section div.page.active > header
{
    visibility         : visible !important;

    -webkit-transform  : none;
    -moz-transform     : none;
    -ms-transform      : none;
    -o-transform       : none;
    transform          : none;

    -webkit-transition : 0.3s ease-out 0.3s !important;
    -moz-transition    : 0.3s ease-out 0.3s !important;
    transition         : 0.3s ease-out 0.3s !important;
}

#SABM > section div.page > header h2
{
    color       : #288484 !important;
    font-weight : 700 !important;
    font-size   : 17px !important;
    line-height : 16px !important;
    padding     : 0 0 5px 0 !important;
    font-family : Georgia, serif !important;
}

#SABM > section div.page > header p
{
    line-height : 15px !important;
    padding     : 0 !important;
}

#SABM > section div.page > header img
{
    position : absolute !important;
    top      : 7px !important;
    right    : 12px !important;
    float    : right !important;
    width    : 46px !important;
    height   : 46px !important;
}

#SABM > section div.page > section
{
    position   : relative !important;
    display    : block !important;
    width      : 100% !important;
    height     : 100% !important;
    overflow   : hidden !important;
    overflow-y : auto !important;
    visibility : visible !important;
    z-index    : 1;
    padding    : 15px 15px 0 15px !important;
    outline    : none;
}

/**
 * Page nav styles
 */
#SABM > section div.page > nav
{
    position                 : absolute !important;
    z-index                  : 2;
    bottom                   : 0 !important;
    left                     : 0 !important;
    width                    : 100% !important;
    border-top               : 1px solid #288484 !important;
    background-color         : rgba(40, 132, 132, 0.08) !important;
    padding                  : 10px !important;
    min-height               : 96px !important;
    visibility               : hidden !important;

    -webkit-transform        : perspective(500px) rotateX(90deg);
    -moz-transform           : perspective(500px) rotateX(90deg);
    -ms-transform            : perspective(500px) rotateX(90deg);
    -o-transform             : perspective(500px) rotateX(90deg);
    transform                : perspective(500px) rotateX(90deg);

    -webkit-transform-origin : bottom center;
    -moz-transform-origin    : bottom center;
    -ms-transform-origin     : bottom center;
    -o-transform-origin      : bottom center;
    transform-origin         : bottom center;

    -webkit-transition       : 0.2s ease-out 0.1s !important;
    -moz-transition          : 0.2s ease-out 0.1s !important;
    transition               : 0.2s ease-out 0.1s !important;
}

#SABM > section div.page.nav-small > nav
{
    padding    : 5px 10px !important;
    min-height : 36px !important;
}

#SABM > section div.page.nav-medium > nav
{
    padding    : 10px 10px !important;
    min-height : 51px !important;
}

#SABM > section div.page.nav-medium.progress > nav
{
    padding    : 45px 10px 10px 10px !important;
    min-height : 86px !important;
}

#SABM > section div.page.nav-medium.progress > nav > div.progress
{
    line-height: 30px !important;
    position: absolute !important;
    top: 0 !important;
    left : 0 !important;
    width : 100% !important;
    text-align : center !important;
    padding: 10px 10px 5px 10px !important;
    font-weight: bold !important;
}

#SABM > section div.page.nav-medium.progress > nav > div.progress > em
{
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left : 0 !important;
    height : 10px !important;
    background: #288484 !important;

    -webkit-transition       : 0.3s ease 0s !important;
    -moz-transition          : 0.3s ease 0s !important;
    transition               : 0.3s ease 0s !important;
}

#SABM > section div.page.active > nav
{
    visibility         : visible !important;

    -webkit-transform  : none;
    -moz-transform     : none;
    -ms-transform      : none;
    -o-transform       : none;
    transform          : none;

    -webkit-transition : 0.3s ease-out 0.6s !important;
    -moz-transition    : 0.3s ease-out 0.6s !important;
    transition         : 0.3s ease-out 0.6s !important;
}

#SABM > section div.page > nav > a
{
    line-height : 20px !important;
    padding     : 5px !important;
    margin      : 0 !important;
}

#SABM > section div.page.nav-medium > nav > a
{
    line-height : 20px !important;
    padding     : 5px 15px !important;
    margin      : 0 !important;
}

#SABM > section div.page.nav-small > nav > a
{
    line-height : 15px !important;
    padding     : 5px !important;
    margin      : 0 !important;
}

#SABM > section div.page > nav > a.button:first-child
{
    float : left !important;
}

#SABM > section div.page > nav > a.button:last-child
{
    float : right !important;
}

#SABM > section div.page > nav > a.button.left
{
    float : left !important;
}

#SABM > section div.page > nav > a.button.right
{
    float : right !important;
}

#SABM > section div.page > nav > p
{
    line-height : 15px !important;
    padding     : 0 !important;
}

/**
 * Page element transitions
 */

#SABM > section div.page > section p,
#SABM > section div.page > section > dl,
#SABM > section div.page > section > ul > li
{
    visibility         : hidden !important;
    opacity            : 0 !important;

    -webkit-transform  : translate(-50%);
    -moz-transform     : translate(-50%);
    -ms-transform      : translate(-50%);
    -o-transform       : translate(-50%);
    transform          : translate(-50%);

    -webkit-transition : 0.2s ease-out 0s !important;
    -moz-transition    : 0.2s ease-out 0s !important;
    transition         : 0.2s ease-out 0s !important;
}

#SABM > section div.page.active ~ div.page > section p,
#SABM > section div.page.active ~ div.page > section > dl,
#SABM > section div.page.active ~ div.page > section li
{
    -webkit-transform : translate(50%);
    -moz-transform    : translate(50%);
    -ms-transform     : translate(50%);
    -o-transform      : translate(50%);
    transform         : translate(50%);
}

#SABM > section div.page > section p:nth-child(2),
#SABM > section div.page > section > dl:nth-child(2),
#SABM > section div.page > section li:nth-child(2)
{
    -webkit-transition-delay : 0.1s !important;
    -moz-transition-delay    : 0.1s !important;
    -o-transition-delay      : 0.1s !important;
    transition-delay         : 0.1s !important;
}

#SABM > section div.page > section p:nth-child(3),
#SABM > section div.page > section > dl:nth-child(3),
#SABM > section div.page > section li:nth-child(3)
{
    -webkit-transition-delay : 0.2s !important;
    -moz-transition-delay    : 0.2s !important;
    -o-transition-delay      : 0.2s !important;
    transition-delay         : 0.2s !important;
}

#SABM > section div.page > section p:nth-child(4),
#SABM > section div.page > section > dl:nth-child(4),
#SABM > section div.page > section li:nth-child(4)
{
    -webkit-transition-delay : 0.3s !important;
    -moz-transition-delay    : 0.3s !important;
    -o-transition-delay      : 0.3s !important;
    transition-delay         : 0.3s !important;
}

#SABM > section div.page > section p:nth-child(5),
#SABM > section div.page > section p:nth-child(6),
#SABM > section div.page > section p:nth-child(7),
#SABM > section div.page > section > dl:nth-child(5),
#SABM > section div.page > section > dl:nth-child(6),
#SABM > section div.page > section > dl:nth-child(7),
#SABM > section div.page > section li:nth-child(5),
#SABM > section div.page > section li:nth-child(6),
#SABM > section div.page > section li:nth-child(7)
{
    -webkit-transition-delay : 0.3s !important;
    -moz-transition-delay    : 0.3s !important;
    -o-transition-delay      : 0.3s !important;
    transition-delay         : 0.3s !important;
}

#SABM > section div.page.active > section p,
#SABM > section div.page.active > section > dl,
#SABM > section div.page.active > section li
{
    visibility         : visible !important;
    opacity            : 1 !important;

    -webkit-transform  : none;
    -moz-transform     : none;
    -ms-transform      : none;
    -o-transform       : none;
    transform          : none;

    -webkit-transition : 0.2s ease-out 0.4s !important;
    -moz-transition    : 0.2s ease-out 0.4s !important;
    transition         : 0.2s ease-out 0.4s !important;
}

#SABM > section div.page.active > section p:nth-child(2),
#SABM > section div.page.active > section > dl:nth-child(2),
#SABM > section div.page.active > section li:nth-child(2)
{
    -webkit-transition-delay : 0.5s !important;
    -moz-transition-delay    : 0.5s !important;
    -o-transition-delay      : 0.5s !important;
    transition-delay         : 0.5s !important;
}

#SABM > section div.page.active > section p:nth-child(3),
#SABM > section div.page.active > section > dl:nth-child(3),
#SABM > section div.page.active > section li:nth-child(3)
{
    -webkit-transition-delay : 0.6s !important;
    -moz-transition-delay    : 0.6s !important;
    -o-transition-delay      : 0.6s !important;
    transition-delay         : 0.6s !important;
}

#SABM > section div.page.active > section p:nth-child(4),
#SABM > section div.page.active > section > dl:nth-child(4),
#SABM > section div.page.active > section li:nth-child(4)
{
    -webkit-transition-delay : 0.7s !important;
    -moz-transition-delay    : 0.7s !important;
    -o-transition-delay      : 0.7s !important;
    transition-delay         : 0.7s !important;
}

#SABM > section div.page.active > section p:nth-child(5),
#SABM > section div.page.active > section p:nth-child(6),
#SABM > section div.page.active > section p:nth-child(7),
#SABM > section div.page.active > section > dl:nth-child(5),
#SABM > section div.page.active > section > dl:nth-child(6),
#SABM > section div.page.active > section > dl:nth-child(7),
#SABM > section div.page.active > section li:nth-child(5),
#SABM > section div.page.active > section li:nth-child(6),
#SABM > section div.page.active > section li:nth-child(7)
{
    -webkit-transition-delay : 0.8s !important;
    -moz-transition-delay    : 0.8s !important;
    -o-transition-delay      : 0.8s !important;
    transition-delay         : 0.8s !important;
}

/**
 * Page overview styles
 */
#SABM > section div.page.overview section
{
    padding : 0 !important;
}

#SABM > section div.page.overview ul
{
    list-style : none !important;
    padding    : 0 !important;
}

#SABM > section div.page.overview ul li
{
    display       : block !important;
    border-bottom : 1px solid #BBBBBB !important;
    padding       : 1px 0 !important;
    margin        : 0 10px !important;
}

#SABM > section div.page.overview ul li:last-child
{
    border-bottom : 0 !important;
}

#SABM > section div.page.overview ul li a,
#SABM > section div.page.overview ul li > span
{
    position              : relative !important;
    display               : block !important;
    padding               : 11px 40px 11px 66px !important;
    margin                : 0 10px 0 -10px !important;
    min-height            : 58px !important;
    text-decoration       : none !important;

    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
}

#SABM > section div.page.overview ul li > span
{
    opacity : 0.5 !important;
}

#SABM > section div.page.overview ul li a:hover,
#SABM > section div.page.overview ul li a:active,
#SABM > section div.page.overview ul li a:focus
{
    outline           : none;
    background-color  : rgba(40, 132, 132, 0.2) !important;

    -webkit-transform : translateX(10px);
    -moz-transform    : translateX(10px);
    -ms-transform     : translateX(10px);
    -o-transform      : translateX(10px);
    transform         : translateX(10px);
}

#SABM > section div.page.overview ul li a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > section div.page.overview ul li img
{
    float  : left !important;
    width  : 46px !important;
    height : 46px !important;
    margin : -5px 0 -5px -56px !important;
}

#SABM > section div.page.overview ul li a span,
#SABM > section div.page.overview ul li > span span
{
    display     : block !important;
    color       : #006B6B !important;
    font-weight : 700 !important;
    font-size   : 15px !important;
    line-height : 16px !important;
    padding     : 10px 0 0 0 !important;
}

#SABM > section div.page.overview ul li em
{
    position              : absolute !important;
    top                   : 14px !important;
    right                 : 0 !important;
    width                 : 30px !important;
    height                : 30px !important;
    border                : 1px solid #BBBBBB !important;
    background-color      : #FFFFFF !important;
    overflow              : hidden !important;
    text-align            : center !important;
    font-weight           : 700 !important;
    font-size             : 16px !important;
    font-style            : normal !important;
    line-height           : 30px !important;
    color                 : #ED9C00 !important;
    font-family           : Georgia, serif !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page.overview ul li a:hover em,
#SABM > section div.page.overview ul li a:active em,
#SABM > section div.page.overview ul li a:focus em
{
    -webkit-transform : translateX(-10px);
    -moz-transform    : translateX(-10px);
    -ms-transform     : translateX(-10px);
    -o-transform      : translateX(-10px);
    transform         : translateX(-10px);
}

#SABM > section div.page.overview ul li em.pass,
#SABM > section div.page.overview ul li em.fail,
#SABM > section div.page.overview ul li em.incomplete,
#SABM > section div.page.overview ul li em.disabled
{
    color : rgba(0, 0, 0, 0) !important;
}

#SABM > section div.page.overview ul li em.pass
{
    background-image : url('../images/pass.svg') !important;
}

#SABM > section div.page.overview ul li em.fail
{
    background-image        : url('../images/fail.svg') !important;

    -webkit-background-size : 70% !important;
    -moz-background-size    : 70% !important;
    background-size         : 70% !important;
}

#SABM > section div.page.overview ul li em.incomplete,
#SABM > section div.page.overview ul li em.disabled
{
    background-image        : url('../images/incomplete.svg') !important;

    -webkit-background-size : 95% !important;
    -moz-background-size    : 95% !important;
    background-size         : 95% !important;
}

/**
 * Home page
 */
#SABM > section div.page.home
{
    padding : 0 !important;
}

#SABM > section div.page.home > section
{
    padding : 20px 15px 0 15px !important;
}

#SABM > section div.page.home > section a
{
    position              : relative !important;
    display               : block !important;
    width                 : 150px !important;
    height                : 150px !important;
    margin                : 15px auto 0 auto !important;
    padding               : 8px !important;
    background-color      : #288484 !important;
    text-decoration       : none !important;
    overflow              : hidden;

    -webkit-border-radius : 50% !important;
    -moz-border-radius    : 50% !important;
    border-radius         : 50% !important;
}

#SABM > section div.page.home > section a:hover,
#SABM > section div.page.home > section a:focus,
#SABM > section div.page.home > section a.active
{
    outline           : none;
    background-color  : #006B6B !important;

    -webkit-transform : scale(1.1);
    -moz-transform    : scale(1.1);
    -ms-transform     : scale(1.1);
    -o-transform      : scale(1.1);
    transform         : scale(1.1);
}

#SABM > section div.page.home > section a span
{
    display               : block !important;
    width                 : 134px !important;
    height                : 134px !important;
    background            : #006B6B !important;
    font-family           : Georgia, serif !important;
    font-size             : 22px !important;
    font-weight           : 400 !important;
    color                 : #FFFFFF !important;
    padding               : 38px 10px !important;
    text-align            : center !important;

    -webkit-border-radius : 50% !important;
    -moz-border-radius    : 50% !important;
    border-radius         : 50% !important;
}

#SABM > section div.page.home > section a:hover span,
#SABM > section div.page.home > section a:active span,
#SABM > section div.page.home > section a:focus span,
#SABM > section div.page.home > section a.active span
{
    background-color : #288484 !important;
}

#SABM > section div.page.home > section a.active span
{
    font-size   : 35px !important;
    font-weight : 300 !important;
    line-height : 58px !important;
    font-family : Arial, sans-serif !important;
}

#SABM > section div.page.home > section a img
{
    position : absolute !important;
    top      : 0 !important;
    left     : 0 !important;
    width    : 150px !important;
    height   : 150px !important;
}

#SABM > section div.page.home > section a svg
{
    position : absolute !important;
    top      : 2px !important;
    left     : 2px !important;
    width    : 146px !important;
    height   : 146px !important;
}

#SABM > section div.page.home > section a svg path
{
    stroke : #F0486A;
}

#SABM > section div.page.home > section a img
{
    -webkit-animation : tracker 6s linear 0s infinite normal;
    -moz-animation    : tracker 6s linear 0s infinite normal;
    -o-animation      : tracker 6s linear 0s infinite normal;
    animation         : tracker 6s linear 0s infinite normal;
}

@-webkit-keyframes tracker
{
    from
    {
        -webkit-transform : rotate(0deg);
    }
    to
    {
        -webkit-transform : rotate(360deg);
    }
}

@-moz-keyframes tracker
{
    from
    {
        -moz-transform : rotate(0deg);
    }
    to
    {
        -moz-transform : rotate(360deg);
    }
}

@-o-keyframes tracker
{
    from
    {
        -o-transform : rotate(0deg);
    }
    to
    {
        -o-transform : rotate(360deg);
    }
}

@keyframes tracker
{
    from
    {
        transform : rotate(0deg);
    }
    to
    {
        transform : rotate(360deg);
    }
}

/**
 * Page headings styles
 */
#SABM > section div.page.headings ul
{
    list-style            : none !important;
    padding               : 10px !important;
    margin                : 0 -10px 15px -10px !important;
    background-color      : rgba(40, 132, 132, 0.08) !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page.headings ul li
{
    display               : block !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page.headings ul li.h2
{
    margin-left : 15px !important;
}

#SABM > section div.page.headings ul li.h3
{
    margin-left : 30px !important;
}

#SABM > section div.page.headings ul li.h4
{
    margin-left : 45px !important;
}

#SABM > section div.page.headings ul li.h5
{
    margin-left : 60px !important;
}

#SABM > section div.page.headings ul li.h6
{
    margin-left : 75px !important;
}

#SABM > section div.page.headings ul li > a
{
    background-color      : #FFFFFF !important;
    position              : relative !important;
    display               : block !important;
    padding               : 5px 32px !important;
    margin                : 0 !important;
    text-decoration       : none !important;
    text-align            : left !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
}

#SABM > section div.page.headings.images ul li > a
{
    padding : 5px 32px 5px 5px !important;
}

#SABM > section div.page.headings ul li > a span
{
    display     : block !important;
    color       : #006B6B !important;
    font-size   : 14px !important;
    line-height : 20px !important;
    font-family : Georgia, serif !important;
}

#SABM > section div.page.headings ul li > a:hover,
#SABM > section div.page.headings ul li > a:active,
#SABM > section div.page.headings ul li > a:focus,
#SABM > section div.page.headings ul li.active > a
{
    outline           : none;
    background-color  : rgba(40, 132, 132, 0.2) !important;

    -webkit-transform : none;
    -moz-transform    : none;
    -ms-transform     : none;
    -o-transform      : none;
    transform         : none;
}

#SABM > section div.page.headings ul li > a:focus
{
    outline : 1px solid rgba(240, 72, 106, 0.5);
}

#SABM > section div.page.headings ul li.active > a
{
    -webkit-border-radius : 3px 3px 0 0 !important;
    -moz-border-radius    : 3px 3px 0 0 !important;
    border-radius         : 3px 3px 0 0 !important;
}

#SABM > section div.page.headings ul li > a:before,
#SABM > section div.page.headings ul li > a > em
{
    content               : "1";
    position              : absolute !important;
    top                   : 5px !important;
    color                 : #666666;
    width                 : 20px !important;
    height                : 20px !important;
    border                : 1px solid #BBBBBB !important;
    background-color      : rgba(255, 255, 255, 0.75) !important;
    overflow              : hidden !important;
    text-align            : center !important;
    font-weight           : 700 !important;
    line-height           : 18px !important;

    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;

    -webkit-box-sizing    : border-box;
    -moz-box-sizing       : border-box;
    box-sizing            : border-box;
}

#SABM > section div.page.headings.images ul li > a:before{
    display: none;
}

#SABM > section div.page.headings ul li > a:before
{
    left : 5px !important;
}

#SABM > section div.page.headings ul li > a > em
{
    content    : "";
    right      : 5px !important;
    color      : rgba(0, 0, 0, 0) !important;
    opacity    : 0 !important;
    visibility : hidden !important;
}

#SABM > section div.page.headings ul li.pass > a > em,
#SABM > section div.page.headings ul li.fail > a > em
{
    opacity    : 1 !important;
    visibility : visible !important;
}

#SABM > section div.page.headings ul li.h2 > a:before
{
    content : "2";
}

#SABM > section div.page.headings ul li.h3 > a:before
{
    content : "3";
}

#SABM > section div.page.headings ul li.h4 > a:before
{
    content : "4";
}

#SABM > section div.page.headings ul li.h5 > a:before
{
    content : "5";
}

#SABM > section div.page.headings ul li.h6 > a:before
{
    content : "6";
}

#SABM > section div.page.headings ul li > div
{
    padding          : 0 15px !important;
    overflow         : hidden !important;
    height           : 0 !important;
    background-color : #FFFFFF !important;
}

#SABM > section div.page.headings ul li > div > *
{
    display : none !important;
}

#SABM > section div.page.headings ul li.active > div
{
    padding : 10px 15px 0 15px !important;
    height  : auto !important;
    margin  : 0 0 15px 0 !important;
}

#SABM > section div.page.headings ul li.active > div > *
{
    display : block !important;
}

#SABM > section div.page.headings ul li.fail > a
{
    background-color : rgba(194, 78, 95, 0.2) !important;
}

#SABM > section div.page.headings ul li.fail > a:hover,
#SABM > section div.page.headings ul li.fail > a:focus,
#SABM > section div.page.headings ul li.fail > a:active
{
    background-color : rgba(194, 78, 95, 0.35) !important;
}

#SABM > section div.page.headings ul li.pass > a
{
    background-color : rgba(55, 137, 53, 0.2) !important;
}

#SABM > section div.page.headings ul li.pass > a:hover,
#SABM > section div.page.headings ul li.pass > a:focus,
#SABM > section div.page.headings ul li.pass > a:active
{
    background-color : rgba(55, 137, 53, 0.35) !important;
}

#SABM > section div.page.headings ul li.pass > a > em
{
    background-image : url('../images/pass.svg') !important;
}

#SABM > section div.page.headings ul li.fail > a > em
{
    background-image        : url('../images/fail.svg') !important;

    -webkit-background-size : 70% !important;
    -moz-background-size    : 70% !important;
    background-size         : 70% !important;
}

#SABM > section div.page.headings ul li.incomplete > a > em
{
    background-image        : url('../images/incomplete.svg') !important;

    -webkit-background-size : 95% !important;
    -moz-background-size    : 95% !important;
    background-size         : 95% !important;
}

/**
 * Module Rating Input
 */
#SABM > section div.page.rating.input p.row
{
    text-align  : center !important;
    padding : 25px 0 !important;
}

#SABM > section div.page.rating.input p.row .star
{
    background-color    : transparent !important;
    background-image    : url('../images/rating.svg') !important;
    background-size     : 40px auto !important;
    background-position : 0 100% !important;
    display             : inline-block;
    width               : 40px !important;
    height              : 40px !important;
    margin              : 0 10px 0 0 !important;
    font-size           : 0 !important;
    vertical-align      : top !important;
}

#SABM > section div.page.rating.input p.row .star:hover,
#SABM > section div.page.rating.input p.row .star:active,
#SABM > section div.page.rating.input p.row .star:focus,
#SABM > section div.page.rating.input p.row .star.selected
{
    transform : scale(1.25);
}

#SABM > section div.page.rating.input p.row .star:hover ~ .star,
#SABM > section div.page.rating.input p.row .star:active ~ .star,
#SABM > section div.page.rating.input p.row .star:focus ~ .star,
#SABM > section div.page.rating.input p.row .star.selected ~ .star
{
    background-color    : transparent !important;
    background-position : 0 0 !important;
}

/**
 * Styles outside tool
 */
.highlight
{
    -webkit-box-shadow : 0 0 0 1px #FF0000 !important;
    -moz-box-shadow    : 0 0 0 1px #FF0000 !important;
    box-shadow         : 0 0 0 1px #FF0000 !important;
}

p.highlight
{
    -webkit-box-shadow : 0 0 0 1px #FF0000 !important;
    -moz-box-shadow    : 0 0 0 1px #FF0000 !important;
    box-shadow         : 0 0 0 1px #FF0000 !important;
}